@model List<jaramillo.cl.Models.APIModels.PublicacionMec>

@{
    ViewBag.Title = "Mecánicos";
    var RegisterMechURL = Url.Action("RegisterMech", "Account");
}
<div class="shadow p-4">
    <div class="row mx-3 mb-4">
            
        <!-- TITULO -->
        <div class="w-max-content ftco-animate">
            <h1 class="color-orange"> Mecánicos </h1>
        </div>

        <!-- ACTION BUTTONS -->
        <div class="ml-md-auto mb-3 mb-md-0 ftco-animate">
            @if (!User.Identity.IsAuthenticated)
            {
                <a role="button" class="btn btn-sm btn-primary" href="@RegisterMechURL">
                    <i class="fa fa-sign-in"></i>
                    ¡Regístrate Como Mecánico para publicar tu aviso!
                </a>
            }

        </div>

    </div>

    <div class="row">

        <div class="col-12 col-md-11 mx-auto">

            @foreach (var pub in Model)
            {
                var pubDetailsURL = Url.Action("PubDetails", "PublicacionMec", new { pubId = pub.public_id });

                <div class="pub-container border mb-3 px-4 py-2 mx-auto ftco-animate">

                    <div class="mb-3">
                        <h2 class="color-orange">@pub.title</h2>
                        <h4 class="mb-3"><strong>Publicada</strong> @pub.created_at.ToString("dd/MM/yyyy")</h4>

                        <p class="mb-1"><strong>Dirección</strong> @pub.address - @pub.comuna, @pub.region</p>
                        <p class="mb-1"><strong>Empresa</strong> @pub.bussiness_name</p>

                        @if (pub.mobile_number != null && !pub.mobile_number.Equals("0"))
                        {
                            <p class="mb-1"><strong>Celular</strong> @pub.mobile_number</p>
                        }

                        @if (pub.landline != null && !pub.landline.Equals("0"))
                        {
                            <p class="mb-1"><strong>Teléfono Fijo</strong> @pub.landline</p>
                        }

                    </div>

                    <a href="@pubDetailsURL" role="button" class="btn btn-sm btn-primary">
                        <i class="fa fa-tools"></i>
                        Ver Publicación
                    </a>

                </div>

            }

        </div>

    </div>
</div>

<style>
    .pub-container:hover{
        background: #fef3dd;
    }
</style>