
@{
    ViewBag.Title = "ChangePassword";

    var goBackURL =  Url.Action("Profile", "UserProfile");
}

<h2 class="mb-4 ftco-animate"> Cambiar tu Contraseña </h2>

<div class="row mb-5">

    <div class="col-3 d-none d-md-block ftco-animate">
        @Html.Partial("~/Views/UserProfile/Partial/Sidemenu.cshtml")
    </div>

    
    <div class="col-9 ftco-animate px-4">

        @using (Html.BeginForm())
        {
            <!-- FORM -->
            <div class="col-md-12">

                <div class="col-12">

                    <div class="form-group">
                        <h6 class="control-label">Contraseña Actual</h6>

                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                @Html.Password("oldPsw", "", new { @class = "form-control", @placeholder = "Contraseña Actual" })
                            </div>
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                @Html.Password("oldPsw2", "", new { @class = "form-control", @placeholder = "Repita su Contraseña" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h6 class="control-label">Nueva Contraseña</h6>

                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                @Html.Password("newPsw", "", new { @class = "form-control", @placeholder = "Nueva Contraña" })
                            </div>
                            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                                @Html.Password("newPsw2", "", new { @class = "form-control", @placeholder = "Repita la Contraseña" })
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        
            <!-- BUTTONS -->
            <div class="col-md-12 mt-4">

                <a href="@goBackURL" class="btn btn-secondary mr-3">Cancelar</a>
                <input type="submit" class="btn btn-primary mr-3" value="Cambiar Contraseña">

                <div class="submitting"></div>
            </div>
        }


    </div>

</div>
