@model jaramillo.cl.Models.APIModels.Usuario

@{
    ViewBag.Title = "UpdateProfile";

    var goBackURL =  Url.Action("Profile", "UserProfile");
}

<h2 class="mb-4 ftco-animate"> Actualizar tus Datos </h2>

<div class="row mb-5">
    
    <div class="col-12 col-md-3 ftco-animate">
        @Html.Partial("~/Views/UserProfile/Partial/Sidemenu.cshtml")
    </div>
    
    <div class="col-12 col-md-9 ftco-animate px-4">

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.appuser_id)

            <!-- FORM -->
            <div class="col-md-12">
                <table class="data-table d-none d-md-table">
                    <!-- NOMBRE COMPLETO -->
                    <tr>
                        <th class="cell-compact">
                            @Html.DisplayNameFor(m => m.fullName) Completo
                        </th>
                        <td>
                            <div class="row">
                                <div class="col-12 col-md-6 pr-0 pr-md-3">
                                    @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.name)
                                </div>
                                <div class="col-12 col-md-6">
                                    @Html.TextBoxFor(m => m.last_names, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.last_names)
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- RUT -->
                    <tr>
                        <th class="cell-compact">
                            @Html.DisplayNameFor(m => m.rut)
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m.rut, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.rut)
                        </td>
                    </tr>
                    <!-- DIRECCION -->
                    <tr>
                        <th class="cell-compact">
                            @Html.DisplayNameFor(m => m.adress)
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.adress)
                        </td>
                    </tr>
                    <!-- TELÉFONO -->
                    <tr>
                        <th class="cell-compact">
                            @Html.DisplayNameFor(m => m.phone)
                        </th>
                        <td>
                            @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.phone)
                        </td>
                    </tr>
                    <!-- FECHA DE NACIMIENTO -->
                    <tr>
                        <th class="cell-compact">
                            @Html.DisplayNameFor(m => m.birthday)
                        </th>
                        <td>
                            @{ 
                                var bd = Model.birthday.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                            }

                            @Html.TextBoxFor(m => m.birthday, new { @class = "form-control datepicker-bd", @Value =  bd })
                            @Html.ValidationMessageFor(x => x.birthday)
                        </td>
                    </tr>
                </table>

                
                <div class="mb-3 d-block d-md-none">
                    <label class="font-weight-bold m-0">@Html.DisplayNameFor(m => m.fullName) Completo</label>
                    <div class="row mb-2">
                        <div class="col-12 col-md-6  pb-3 pb-md-0">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.name)
                        </div>
                        <div class="col-12 col-md-6">
                            @Html.TextBoxFor(m => m.last_names, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.last_names)
                        </div>
                    </div>

                    <label class="font-weight-bold m-0">@Html.DisplayNameFor(m => m.rut)</label>
                    <div class="row mb-2">
                        @Html.TextBoxFor(m => m.rut, new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.rut)
                    </div>

                    <label class="font-weight-bold m-0">@Html.DisplayNameFor(m => m.adress)</label>
                    <div class="row mb-2">
                            @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.adress)
                    </div>

                    <label class="font-weight-bold m-0">@Html.DisplayNameFor(m => m.phone)</label>
                    <div class="row mb-2">
                            @Html.TextBoxFor(m => m.adress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.adress)
                    </div>

                    <label class="font-weight-bold m-0">@Html.DisplayNameFor(m => m.birthday)</label>
                    <div class="row mb-2">
                            @{ 
                                bd = Model.birthday.ToString("dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                            }
                            @Html.TextBoxFor(m => m.birthday, new { @class = "form-control datepicker", @Value =  bd })
                            @Html.ValidationMessageFor(x => x.birthday)
                    </div>

                </div>

            </div>
        
            <!-- BUTTONS -->
            <div class="col-md-12 mt-4">
                
                <a href="@goBackURL" class="btn btn-sm btn-secondary mr-3">
                    <i class="fa fa-backspace"></i>
                    Cancelar
                </a>

                <button type="submit" class="btn btn-sm btn-primary mr-3">
                    <i class="fa fa-save"></i>
                    Actualizar
                </button>

                <div class="submitting"></div>
            </div>
        }


    </div>

</div>


@section customScripts{
    @Html.Partial("Partial/_DatePickerBoilerplate")

    <script>
    
        $('.datepicker-bd').datepicker({
            startDate: '-110y',
            endDate: '-18y'
        });

        
        $(function() {
            $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Rut Invalido. Debe tener el formato: 12.123.123-1"
            );

            $('#rut').rules('add', {
                regex: /^\d{1,2}\.\d{3}\.\d{3}-[k|K|\d]{1}$/
            });
        });


    </script>
}