@{
    // Current controller in action
    var controller = ViewContext.RouteData.Values["controller"];
    var action = ViewContext.RouteData.Values["action"];
    var loc = $"{action}|{controller}";

    // Automatic Alert System
    string error = (string)TempData["ErrorMessage"] ?? "";
    string success = (string)TempData["SuccessMessage"] ?? "";

    // URLs
    string aboutURL = Url.Action("About", "Home");
    string servURL = Url.Action("ServList", "BookServ");
    string mechanicsURL = Url.Action("PubList", "PublicacionMec");
    string contactURL = Url.Action("Contact", "Home");


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jaramillo </title>
    <!-- ContentCSS -->
    @Styles.Render("~/ContentCSS")
    @Styles.Render("~/Content/mtr-datepicker.min.css")
    @Styles.Render("~/Content/mtr-datepicker.default-theme.min.css")
    <!-- modernizr -->
    @Scripts.Render("~/bundles/modernizr")
    <!-- HeadScrips -->
    @Scripts.Render("~/HeadScrips")
    @Scripts.Render("~/Scripts/mtr-datepicker.min.js")

</head>
<body>
    <!--! Automatic Alert System -->
    <div id="alerts" class="fixed-top mx-3 mt-3"> </div>

    <!-- HEADER -->
    <div class="wrap">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-md-3 d-flex align-items-center mb-3">
                    <a class="navbar-brand" href="/">Jaramillo<span>.</span></a>
                </div>

                <div class="col-md-9">
                    <div class="row w-100">

                        <div class="mr-4 mb-3">
                            <div class="top-wrap d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div>
                                <div class="text"><span>Dirección</span><span>Calle Falsa 666</span></div>
                            </div>
                        </div>
                        
                        <div class="mr-4 mb-3">
                            <div class="top-wrap d-flex">
                                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-location-arrow"></span></div>
                                <div class="text"><span>Llámanos al</span><span>(+569) 9 0420 6669</span></div>
                            </div>
                        </div>

                        <div class="ml-0 ml-sm-auto d-flex justify-content-start align-items-center">
                            <div role="button" class="social-media">

                                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Inicio
                        </a>
                    </li>
                    
                    <li class="nav-item @(loc.Equals("PublicacionMec|PubList") ? "active" : "")">
                        <a href="@mechanicsURL" class="nav-link">
                            Mecánicos
                        </a>
                    </li>
                    
                    <li class="nav-item @(loc.Equals("BookServ|ServList") ? "active" : "")" >
                        <a href="@servURL" class="nav-link">
                            Servicios
                        </a>
                    </li>
                    
                    <li class="nav-item @(loc.Equals("About|Home") ? "active" : "")">
                        <a href="@aboutURL" class="nav-link">
                            Sobre Nosotros
                        </a>
                    </li>
                    
                    <li class="nav-item @(loc.Equals("Contact|Home") ? "active" : "")">
                        <a href="@contactURL" class="nav-link">
                            Contacto
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- BODY -->
    <div class="@(loc.Equals("Index|Home") ? "" : "container body-content py-3")">
        @RenderBody()
    </div>

    <!-- FOOTER -->
    <footer class="footer ftco-section">
        <div class="container">
            <div class="row mb-5">

                <!-- COL IZQUIERDA -->
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="logo"><a href="#">Jaramillo<span>.</span></a></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar ac felis non tempor. Nulla facilisi volutpat.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
                            <li class="ftco-animate"><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fab fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- COL MEDIO -->
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Contacto</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li class="mb-3"><span class="icon fa fa-map-marker "></span><span class="text">Calle Falta 666</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+56 9 0420 6669 </span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">info@jaramillo.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- COL DERECHA -->
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Horario de Atención</h2>
                        <div class="opening-hours">
                            <h4>Horario</h4>
                            <p class="pl-3">
                                <span>Lunes – Viernes : 9am to 20 pm</span>
                                <br />
                                <span>Sabados : 9am to 13 pm</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- COPYRIGHT -->
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Todos los Derechos Reservados | Esta plantilla fue hecha con <i class="fa fa-heart mx-1" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Jquery 3.4.1 -->
    @Scripts.Render("~/bundles/jquery")
    <!-- Bootstrap 4.5 -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Jquery Validation 1.19.1 -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/moment.js")
    <!-- Tempos Dominus Bootstrap 4 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


    <!-- Site wide custom Scripts  -->
    @Scripts.Render("~/MainScripts")

    <!-- customScripts  -->
    @RenderSection("customScripts", false)
    @RenderSection("Scripts", false)
    <!-- /customScripts  -->

    <script>
        {
            //! Automatic Alert System: Get the error message and show an alert with it
            let err = '@error.Replace("\r\n", " ")';
            if (err) ShowAlert(err, 'alert-danger', 3);

            let success = '@success.Replace("\r\n", " ")';
            if (success) ShowAlert(success, 'alert-success', 1);
        }

        var carousel = function() {
		    $('.home-slider').owlCarousel({
	        loop:true,
	        autoplay: false,
	        margin:0,
	        animateOut: 'fadeOut',
	        animateIn: 'fadeIn',
	        nav:true,
	        dots: true,
	        autoplayHoverPause: false,
	        items: 1,
	        navText : ["<span class='ion-ios-arrow-back'></span>","<span class='ion-ios-arrow-forward'></span>"],
	        responsive:{
	          0:{
	            items:1
	          },
	          600:{
	            items:1
	          },
	          1000:{
	            items:1
	          }
	        }
		    });
	    };
        carousel();
        
        $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
            icons: {
                time: 'fa fa-clock',
                date: 'fa fa-calendar',
                up: 'fa fa-arrow-up',
                down: 'fa fa-arrow-down',
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-calendar-check-o',
                clear: 'fa fa-trash',
                close: 'fa fa-times'
            },
        });

    </script>
</body>
</html>
