@using Microsoft.AspNet.Identity
@{ 
    
    string loginURL = Url.Action("Login", "Account");
    string singupURL = Url.Action("RegisterClient", "Account");
    string perfilURL = Url.Action("Profile", "UserProfile");
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown">
            <button class="btn btn-secondary btn-sm px-3 dropdown-toggle" type="button" id="login-dw"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </button>


            <div class="dropdown-menu login-dw-box" aria-labelledby="login-dw">
                <a class="dropdown-item" href="@perfilURL">
                    Perfil
                </a>

                @if (User.IsInRole("MEC"))
                {
                    string mecPubURL = Url.Action("PubList", "PubMech");
                    <a class="dropdown-item" href="@mecPubURL">
                        Publicaciones
                    </a>
                    }

                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                    Cerrar Sesión
                </a>
            </div>
        </div>

    }
}
else
{
    <a role="button" href="@singupURL" class="btn btn-primary mr-3">
        Registrarme
    </a>
    <a role="button" href="@loginURL" class="btn btn-secondary">
        Iniciar Sesión
    </a>
}