@{
    ViewBag.Title = "Home Page";

    
    string servURL = "#";
}


<!-- CARRUSEL SUPERIOR -->
<div class="hero-wrap">
    <div class="home-slider owl-carousel">

        <!-- ELEMENTO 1 -->
        <div class="slider-item" style="background-image:url(@Url.Content("~/Content/Images/bg_1.jpg"));">
            <div class="overlay"></div>

            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h2>Nos importa tu auto</h2>
                            <h1 class="mb-4">Alarga la vida de tu vehículo</h1>
                            <p><a href="@servURL" class="btn btn-primary">Revisa nuestros servicios</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- ELEMENTO 2 -->
        <div class="slider-item" style="background-image:url(@Url.Content("~/Content/Images/bg_2.jpg"));">
            <div class="overlay"></div>

            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h2>Nos importa tu auto</h2>
                            <h1 class="mb-4">Repara tu vehículo</h1>
                            <p><a href="@servURL" class="btn btn-primary">Revisa nuestros servicios</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- CTA INICIAL -->
<section class="intro">
    <div class="container intro-wrap">
        <div class="row no-gutters">
            <div class="col-md-12 col-lg-9 bg-intro d-sm-flex align-items-center align-items-stretch">
                <div class="intro-box d-flex align-items-center">
                    <div class="icon d-flex align-items-center justify-content-center ">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <h2 class="mb-0"> Repara tu vehículo ahora! </h2>
                </div>
                <a href="@servURL" class="bg-primary btn-custom d-flex align-items-center"><span>Agenda una hora</span></a>
            </div>
        </div>
    </div>
</section>

<!-- RESUMEN -->
<section class="ftco-section">
    <div class="container">

        <!-- TÍTULO -->
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Queremos ayudarte</span>
                <h2>Nuestros Servicios</h2>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 services ftco-animate">

                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-service"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Cambio de Aceite</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>

                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tyre"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Cambio de Llantas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>

            </div>

            <div class="col-md-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-battery"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Baterías</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-engine"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Motor</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 services ftco-animate">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tow-truck"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Remolque de Vehículos</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-repair"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Mantención General</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris neque ante, tincidunt non convallis sit.</p>
                        <p><a href="#" class="btn-custom">Detalles</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
